.base {
  width: 320px;
  margin: 10px auto 0 auto;
  text-align: center;
  padding: 10px 0;
  background-color: #212529;
  border: 1px solid #fea511;
  border-radius: 20px;
}
h1 {
  text-align: center;
}
