.wrapper {
  input {
    width: 250px;
    padding: 15px;
    display: block;
    border: 2px solid #fda412;
    border-radius: 7px;
    overflow: hidden;
    background: #212529;
    color: #aeaeae;
    font-size: 15px;
    margin: 10px auto;
  }
}
