<section class="wrapper">
  <h1 class="center">Lista de usuários</h1>
  <h2 *ngIf="userList.length < 1">
    Não há usuário cadastrado
  </h2>

  <h2 *ngIf="userList.length == 1">
    {{ userList.length }} usuário cadastrado
  </h2>

  <h2 *ngIf="userList.length > 1">
    {{ userList.length }} usuários cadastrados
  </h2>

  <ul *ngIf="userList">
    <li *ngFor="let user of userList; let i = index">
      <p><span>Name:</span> {{ user.firstName }}</p>

      <p><span>Last name: </span>{{ user.lastName }}</p>

      <p><span>Age:</span> {{ user.age }}</p>

      <p><span>Mail: </span> {{ user.mailAddress }}</p>

      <p><span>Country: </span>{{ user.country }}</p>

      <a routerLink="/editar-usuario">
        <button (click)="saveUser(user)">
          Editar user {{ user.firstName }}
        </button>
      </a>

      <button (click)="deleteUser(user, i)">Deletar user {{ user.firstName }}</button>
    </li>
  </ul>

  <h2 class="successMessage" *ngIf="successMessage">Usuário excluído com sucesso</h2>
</section>
