<section class="wrapper">
  <h1 class="center">Lista de usuários</h1>
  <ul *ngIf="userList">
    <li *ngFor="let user of userList">
      <p><span>Name:</span> {{ user.firstName }}</p>
      <p><span>Last name: </span>{{ user.lastName }}</p>
      <p><span>Age:</span> {{ user.age }}</p>
      <p><span>Mail: </span> {{ user.mailAddress }}</p>
      <p><span>Country: </span>{{ user.country }}</p>

      <a routerLink="/editar-usuario">
        <button (click)="saveUser(user)">
          Editar user {{ user.firstName }}
        </button>
      </a>
      <button (click)="deleteUser(user)">Deletar user {{ user.firstName }}</button>
    </li>
  </ul>
</section>
